@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

:root {
  --main-btn-border-color: #b39d74;
  --main-btn-background-color: #b39d74;
  --main-btn-fcolor: #b39d74;
  --main-btnstart-fcolor: #b39d74;
  --main-btnprimary-fcolor: #ffffff;
  --footer-fcolor: #3f6272;
  --primary-fcolor: #3f6272;
  --input-border: #d2dae3;
  --input-box-shadow: #6c5b3e0d;
  --input-placeholder-color: #b8c3c7;
  --textprimary-color: #3f6272;
  --textsecndary-color: #b39d74;
  --navlink-fcolor: #577c8d;
  --navlink-activ-fcolor: #b39d74;
  --headline-border-color: #cddae0;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Readex Pro", sans-serif;
  font-size: 1rem;
  background: linear-gradient(
    176deg,
    rgba(213, 221, 232, 1) 0%,
    rgba(250, 252, 255, 1) 100%
  );
  color: var(--primary-fcolor);
}
/*font color*/
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.text-primarytext {
  color: var(--textprimary-color) !important;
}
.text-secondary {
  color: var(--textsecndary-color) !important;
}
/* //font color*/

/* login page - part one of animation setup */

.login-page {
  height: 101vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.logo-container {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.behind-logo {
  height: 40vh;
  width: 37vh;
  position: absolute;
  z-index: 100;
  background-image: url("../imges/Group\ 107850.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 106;
  background-image: url("../imges/flagkuwait.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.logo1 {
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: -100px;
  z-index: 103;
  display: none;
  background-image: url("../imges/logopath1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
}
.logo2 {
  height: 150px;
  width: 155px;
  position: absolute;
  bottom: -80px;
  z-index: 104;
  display: none;
  background-image: url("../imges/logopath2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
}
.logo3 {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -40px;
  z-index: 105;
  display: none;
  background-image: url("../imges/logopath3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transform: scale(0);
}

.tanfiz-title {
  display: none;
  position: absolute;
  top: 80%;
  z-index: 106;
}

.login-form {
  display: none;
  position: absolute;
  top: 90%;
  z-index: 107;
  width: 450px;
}

.start-btn-container {
  position: absolute;
  bottom: 20%;
}

.leftanimation {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 25%;

  background-image: url("../imges/Tanfez_Shape.svg");
  background-size: cover;
  background-repeat: no-repeat;

  z-index: 100;
  left: -25%;
}

.login-container {
  overflow: hidden;
  position: relative;
}

/* btns */

.btn {
  border: 2px solid;
  padding: 10px 10px;
  border-radius: 45px;
  font-size: 1.5rem;
}
.startBtn {
  border-color: var(--main-btn-border-color);
  background-color: transparent;
  color: var(--main-btnstart-fcolor);
  min-width: 160px;
}
.startBtn:hover {
  color: var(--main-btnstart-fcolor);
}

.btn-primary {
  background: var(--main-btn-background-color);
  color: var(--main-btnprimary-fcolor);
  border: unset;
  &:hover {
    background: var(--main-btn-background-color);
    color: var(--main-btnprimary-fcolor);
    border: unset;
  }
  &:focus {
    background: var(--main-btn-background-color);
    color: var(--main-btnprimary-fcolor);
    border: unset;
  }
}

.btn-primary--enter {
  min-width: 160px;
  img {
    width: 50px;
    height: auto;
  }
}

.form-control {
  border-radius: 40px !important;
  padding: 20px 49px;
  font-size: 1.25em;
  border: 1px solid var(--input-border);
  box-shadow: 0px 7px 9px var(--input-box-shadow);
  position: relative;

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

.input-button-container {
  position: relative;

  .form-control-inbtn {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    min-width: 160px;
    border-radius: 40px !important;
    z-index: 100;
  }
}

.btn-back {
  background-color: transparent;
  border: 1px solid var(--textprimary-color);
  color: var(--textprimary-color);
  min-width: 120px;
}

.btn-filter-container {
  display: flex;
  justify-content: end;
}
.form-control-datef {
  width: 114px;
  height: 104px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--main-btn-border-color);

  img {
    display: block;
    margin-bottom: 8px;
  }
  span {
    display: block;
    font-size: 1rem;
    font-weight: 200;
  }
}

.btn-add {
  background-color: #3f6272;
  border-radius: 50%;
  width: 58px;
  height: 58px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
  }
}

.tb-btn-delete {
  border: none;
}

.form-control-inbtn--save {
  min-width: 140px;
}
.form-control-inbtn--coopy {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.9rem;
  padding: 8px 6px;
}

.form-control-inbtn--fileopend {
  background-color: #799569;
  &:hover {
    background-color: #799569;
  }
  &:focus {
    background-color: #799569;
  }
}
/*buttons*/
/*title with line*/

.text--vline {
  position: relative;
  z-index: 88;
  h2 {
    position: relative;
    display: inline;
    background-color: #f5f7fb;
    color: #577c8d93;
    z-index: 100;
  }
  hr {
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    z-index: 99;
  }
  p {
    padding-top: 10px;
    color: #577c8d93;
  }
}

/**/

/* login foter*/
.login-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-footer .footer-container {
  color: var(--footer-fcolor);
  font-size: 0.7rem;
}
/* login foter*/

/*inner footer*/
.login-footer--inner {
  .footer-container {
    color: var(--footer-fcolor);
    font-size: 0.7rem;
  }
}
/*inner footer*/

.login-page {
  /* minstry title*/
  h3 {
    font-weight: 300;
  }
  .text-container {
    position: relative;
    text-align: center;
    span {
      z-index: 2;
      position: relative;
      background: transparent;
      padding: 10px;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background: var(--primary-fcolor);
        bottom: 50%;
        width: 100%;
        z-index: 1;
        left: 100%;
        width: 65px;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background: var(--primary-fcolor);
        bottom: 50%;
        width: 100%;
        z-index: 1;
        right: 100%;
        width: 65px;
      }
    }
  }

  /* login form*/
  .login-form {
    .form-control {
      border-radius: 40px;
      padding: 20px 49px;
      font-size: 1.25em;
      border: 1px solid var(--input-border);
      box-shadow: 0px 7px 9px var(--input-box-shadow);
      position: relative;

      &::placeholder {
        color: var(--input-placeholder-color);
      }
    }

    .form-control-uname {
      background-image: url("../imges/user.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) center;
    }
    .form-control-password {
      background-image: url("../imges/pass.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) center;
      border-radius: 40px !important;
      color: #3f6272;
    }

    .show-password {
      position: absolute;

      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 100;
      #hidePassIcon {
        display: none;
      }
    }
  }
}

.inner-page {
  min-height: 100vh;
  background-image: url("../imges/Tanfez_Shape.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

// header inner
.header--inner {
  padding-top: 55px;

  .logocontainer {
    span {
      z-index: 2;
      position: relative;
      background: transparent;
      padding: 10px;
      font-size: 12px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background: var(--primary-fcolor);
        bottom: 50%;

        z-index: 1;
        right: 100%;
        width: 35px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        background: var(--primary-fcolor);
        bottom: 50%;

        z-index: 1;
        left: 100%;
        width: 35px;
      }
    }
  }

  .notificatio-profile {
    display: flex;
    justify-content: end;

    .notifiction,
    .profile {
      margin-inline-start: 45px;
    }
    .profile {
      border-radius: 50%;
      padding: 2px;
      background-color: #fff;
      image {
        width: 49px;
      }
    }
    .notifiction {
      margin-top: 10px;
      button {
        border: none;
        position: relative;
        background: transparent;

        .noti-count {
          background-color: #cb3131;
          border-radius: 50%;
          color: #fff;
          width: 22px;
          height: 22px;
          position: absolute;
          bottom: -5px;
          line-height: 1.123;
          text-align: center;
          padding: 3px;
          right: -15px;
        }
      }
    }
  }
}

// // inner header

.main-sec {
  margin-top: 20px;

  /*aside menu */
  .page-menu {
    border-radius: 15px;
    background: #ebf0f5;
    padding: 25px;

    box-shadow: 0px 6px 10px 0px rgb(217 222 227);

    li.item {
      a {
        display: flex;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: rgb(255 255 255 / 60%);
        min-height: 90px;
        align-items: center;
        color: #577c8e;
        position: relative;
      }

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }

      &.active {
        a {
          background-color: #577c8d;
          color: #fff;
          position: relative;
          z-index: 2;
          &::after {
            content: "";
            position: absolute;
            width: 80%;
            height: 2px;
            background: var(--main-btn-border-color);
            z-index: 1;
            bottom: -2px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }

      .icon {
        border-radius: 30px;
        margin-inline-end: 10px;
      }
      .list-title {
        text-align: start;
        h6 {
          margin-bottom: 0;
        }
        span {
          font-size: 0.8rem;
        }
      }
      .count {
        font-size: 1.8rem;
        font-weight: 400;
        position: absolute;

        left: 15px;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        text-decoration: none;
      }
    }
  }

  /* search componnet*/
  .seaechcontainer {
    padding: 70px 40px;
    background-color: #ffffff87;
    border-radius: 40px;

    box-shadow: 0px 6px 10px 0px rgb(217 222 227);

    h2 {
      font-weight: 300;
    }
    p {
      margin-bottom: 30px;
    }
    .text-gradient {
      background: #b9a066;
      background: linear-gradient(to right, #b9a066 0%, #75a0d6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-size: 1rem;
      margin-top: 20px;
      font-weight: 200;
    }

    .form-control-search {
      background-image: url("../imges/Search_Icon.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 15px) center;
    }
  }
}

/*search result  page */
.nav-pills--edit {
  .nav-link {
    color: var(--navlink-fcolor);

    &.active {
      color: var(--navlink-activ-fcolor) !important;
      background-color: transparent;

      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 70%;
        height: 3px;
        background-color: var(--main-btn-background-color);
        z-index: 100;
        left: 50%;
        transform: translate(-50%);
        bottom: -1px;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
}
.tab-content--edit {
  .tab-pane {
    padding: 30px;
    border-radius: 40px;
    background-color: #f7f9fb;
    min-height: 200px;
    position: relative;

    h3 {
      position: absolute;
      top: 50%;

      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .title {
    display: inline-block;
    padding-inline-end: 13px;
    min-width: 100px;
  }
  .amount {
    font-size: 2rem;
    font-weight: 400;
  }
  p {
    font-weight: 200;
    text-align: justify;
    margin-top: 20px;
  }
}

/*head line */
.head-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 90%;
    top: 50%;
    height: 2px;
    background-color: #dde2e4;
    z-index: 80;
    left: 0;
  }

  span {
    display: inline-block;
    background-color: #f7f9fb;
    position: relative;
    z-index: 101;
    padding-inline-end: 30px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .head-title--section {
    background-color: transparent;
  }
  .head-title--section-bga {
    background-color: #efeeeb;
  }
  .head-title--section-bgb {
    background-color: #ebf0f6;
  }
}
.head-line--II {
  margin-bottom: 80px;

  .head-title--section {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ebf0f6;
    span {
      background-color: #ebf0f6;
    }
  }
}

/*search result  page */

/*table*/

.table--edit {
  & > :not(caption) > * > * {
    border: unset;
  }
  border-collapse: separate;
  border-spacing: 0 1rem;

  thead {
    th {
      font-size: 1rem;
      font-weight: 400;
      color: #4f717e;
      text-align: center;
    }
  }

  tbody {
    tr {
      background-color: #fff;
      box-shadow: 0px 0px 10px 0px rgb(217, 222, 227);
      border-radius: 40px;
      transition: all 0.3s ease-in-out;

      td {
        text-align: center;
        font-size: 1rem;
        color: #0c3442;
        padding: 0.5rem 0.5rem;
        vertical-align: middle;
        &:first-of-type {
          border-top-right-radius: 40px;
          border-bottom-right-radius: 40px;
        }
        &:last-of-type {
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
        }

        &:not(:last-of-type) {
          border-left: 1px solid #efeeeb;
        }
        img {
          margin-inline-end: 7px;
        }

        .dropdown-center--edit {
          .dropdown-toggle {
            all: unset;
            padding: 6px 12px;
            &::after {
              display: none;
            }

            &:focus {
              background-color: #0c3442;
              padding: 5px 10px;
              background-color: #e2e9eb;
              border-radius: 10px;
            }
          }

          .dropdown-menu {
            border-radius: 20px;
          }
        }
      }

      &:hover {
        background-color: #f8f8f5;
        box-shadow: 0px 0px 4px 0px rgba(177, 166, 104, 0.568);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.currency-flag {
  font-size: 0.7rem;
  background-color: #ebf0f6;
  border-radius: 20px;
  margin: 0 10px;
  padding: 5px;
  display: inline-block;
  img {
    width: 14px;
    margin: 2px;
  }
}

/* // table*/
/*modal*/
.modal--edit {
  background: #3f627262;
  backdrop-filter: blur(5px);
  &.fade {
    transition: all 0.3s linear;
  }

  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
    display: flex;
    justify-content: center;
  }
  .btn-close {
    background: transparent url("../imges/Group 108036.svg") center / 1.7em auto
      no-repeat;
  }
  .modal-title {
    font-size: 1rem;
    span {
      vertical-align: middle;
      color: #0c3443;
    }
    img {
      width: 22px;
    }
  }

  .modal-content {
    border-radius: 40px;
    padding: 1.5rem;
  }
  .frm-box {
    padding: 1.5rem 1.2rem;
    background-color: #ebf0f6;
    border-radius: 40px;
    img {
      margin-inline-end: 10px;
      vertical-align: middle;
    }
  }
}

.form-select {
  border-radius: 40px;
  padding: 20px 49px;
  font-size: 1.25em;
  border: 1px solid var(--input-border);
  box-shadow: 0px 7px 9px var(--input-box-shadow);
  position: relative;
  background-size: 20px 20px;
  background-position: 25px center;

  &::placeholder {
    color: var(--input-placeholder-color);
  }
}

/*input date*/
input[type="date"] {
  position: relative;
  padding: 17px 17px;
  text-align: end;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
.date-input {
  background-image: url("../imges/Group 97259.svg");
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 28px 28px;
}

.text-date {
  font-weight: 100;
  font-size: 0.7rem;
}

.date-input--icon-r {
  background-position: calc(100% - 10px) center;
}
.form-floating {
  label {
    padding-right: 40px;
  }
}

/* // input date*/

/* animated select */

.form-floating--select-img {
  label {
    padding: unset;
    padding-top: 17px;
    padding-right: 26px;
    z-index: 100;
    transition: all 0.3s ease-in-out;
  }
  select {
    padding: unset;
    padding-top: 10px !important;
    padding-bottom: 1px !important;
    padding-right: 25px;
    line-height: 3.5;
    transition: all 0.3s ease-in-out;
  }

  .user-image {
    width: 150px; /* Adjust width as needed */
    height: auto;
    position: absolute;
    top: 50%;
    right: 0px;
    width: 22px;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 100;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
}

.form-floating--select-img.fade-in {
  label {
    padding: unset;
    padding-top: 4px;
    padding-right: 40px;
    transition: all 0.3s ease-in-out;
  }
  select {
    padding-top: 10px !important;
    padding-bottom: 1px !important;
    padding-right: 40px;
    transition: all 0.3s ease-in-out;
  }

  .user-image {
    right: 7px;
    width: 30px;
    height: 30px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.form-floating--select-withoutimg.fade-in {
  label {
    padding: unset;
    padding-top: 4px;
    padding-right: 25px;
    transition: all 0.3s ease-in-out;
  }
  select {
    padding-top: 10px !important;
    padding-bottom: 1px !important;
    padding-right: 25px;
    transition: all 0.3s ease-in-out;
  }
}
/* // animated select */

.form-control--amount {
  background-image: url("../imges/Group 107994.svg");

  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
  background-size: 28px 28px;
  padding: 6px 55px !important;
  text-align: end;
}

.form-floating .floatingInput--amount {
  padding-right: 70px !important;
}
.form-floating
  > .form-control:not(:placeholder-shown)
  ~ label.floatingInput--amount {
  padding-top: 8px !important;
  padding-right: 80px !important;
}

.elhspa__amount-box {
  padding: 2rem;
  border-radius: 40px;
  background-color: #ffffff78;

  .currency-icon {
    align-self: center;
  }
  .amount-box__total {
    position: relative;
    p {
      font-size: 2rem;
      font-weight: 700;
      color: var(--textsecndary-color);
      display: inline;
    }
    .currency-flag {
      vertical-align: text-top;
      span {
        color: #3f6272;
        font-weight: 400;
      }
    }
  }
}

.form-control--civiId {
  background-image: url("../imges/Group 107857.svg");
  text-align: right;
}
.form-control--ipan {
  background-image: url("../imges/Group 107845.svg");
  text-align: right;
}

/* switch btn */
.switch-container {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 34px;
}

.switch-input {
  display: none;
}

.switch-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eaf0f2;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.switch-label .switch-slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 26px;
  height: 26px;
  background-color: #a0b6be;
  border-radius: 50%;
  transition: transform 0.2s;
}

.switch-label .switch-inner {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #a0b6be;
  font-size: 12px;
}

.switch-inner-true {
  display: none;
}
.switch-inner-false {
  display: block;
}

.switch-input:checked + .switch-label {
  background-color: #4caf50;
}
.switch-input:checked + .switch-label {
  .switch-inner-true {
    display: block;
    color: #73905b;
  }
  .switch-inner-false {
    display: none;
  }
}

.switch-input:checked + .switch-label {
  background-color: #e9f4e1;
}

.switch-input:checked + .switch-label .switch-slider {
  transform: translateX(85px);
  background-color: #73905b;
}

.switch-input:checked + .switch-label .switch-inner {
  content: "OFF";
}

/*//switch btn*/

.absolute-bottom-form {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #fff;
  padding: 1rem;
  h5 {
    font-size: 1rem;
  }

  h6 {
    font-weight: 100;
    font-size: 0.9rem;
  }
  p {
    font-size: 0.8rem;
  }
  .label {
    position: relative;

    span {
      position: absolute;
      left: 0;
      top: 50%;
      background-color: var(--main-btn-background-color);
      font-size: 0.7rem;
      color: #fff;
      border-radius: 15px;
      padding: 5px;
      transform: translateY(-50%);
    }
  }
}

.modal__copy-message {
  display: none;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999999999;
  background-color: #d6e0d0;
  border: solid 1px #bacb99;
  color: #5b7749;
  border-radius: 40px;
  padding: 10px 20px;

  .modal__copy-message-icon {
    margin-inline-end: 10px;
    height: 50px;
    width: 50px;
    background-color: #dee6dc;
    border-radius: 50%;
    img {
      width: 100%;
      padding: 10px;
    }
  }
  .btn-close-copy-message {
    margin-inline-start: 10px;
    background: transparent;
    border: none;
  }
  .copy-message__container {
    align-items: center;
  }
}

.parties-case {
  .bx {
    padding: 20px;
    border-radius: 30px;
  }
  .bx-bga {
    background-color: #efeeeb;
  }
  .bx-bgb {
    background-color: #ebf0f6;
  }

  .bx__item-l {
    display: flex;
    align-items: center;
  }
}

/*//modal*/
/* arabic numberd list*/
ul.numbered-list {
  list-style-type: none;
  counter-reset: section;
}

ul.numbered-list li {
  counter-increment: section;
  font-size: 18px;
}

ul.numbered-list li::before {
  content: counter(section, arabic-indic) " ";
  font-size: 24px;
  font-weight: 400;
  margin-right: 8px;
}
ul.numbered-list.numbered-list--respondent li::before {
  top: 20px;
  position: absolute;
  top: 8px;
  right: -17px;
}

.numbered-list--respondent {
  li {
    display: flex;
    align-items: center;
    position: relative;
  }
  .bx__item-userimg {
    margin: 0 10px;
    align-self: baseline;
  }
  .bx__item-text {
    h6 {
      position: relative;
      margin: 0;
      padding-right: 20px;
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 100;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #577c8d;
      }
    }

    p {
      margin: 0;
      font-weight: 300;
      font-size: 0.8rem;
      padding-inline-start: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;

        // border-radius: 50%;
        z-index: 100;
        right: 4px;
        top: 0;
        bottom: 6px;
        border-bottom: 1px solid #577c8d;
        border-right: 1px solid #577c8d;
        border-bottom-right-radius: 5px;
      }

      &:not(:first-of-type)::after {
        content: "";
        position: absolute;
        width: 15px;

        // border-radius: 50%;
        z-index: 100;
        right: 4px;
        top: -20px;
        bottom: 50%;

        border-right: 1px solid #577c8d;
      }
    }
  }
}
/*list*/

/*animation icon */
.modal__animation-icon-success {
  width: 100px;
}
.modal__animation-icon-alert {
  width: 100px;
}

.modal__animation-icon-error {
  width: 100px;
}
/*animation icon */

/****************************** media *******************************/
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .login-form {
    width: 80%;
  }
  .login-footer {
    position: unset;
  }
  .main-sec .page-menu {
    margin-bottom: 20px;
  }
  .main-sec .seaechcontainer {
    padding: 40px 10px;
    margin-bottom: 40px;
  }

  .input-button-container {
    display: block;
  }
  .form-control-search {
    display: block;
    width: 100% !important;
  }
  .form-control-inbtn {
    position: unset !important;
    transform: unset !important;
    margin-top: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 700px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 900px;
  }
  .modal-dialog-centered--save {
    max-width: 500px;
  }
  .modal-dailo-save-back {
    max-width: 500px;
  }
  .modal-dialog-update-data {
    max-width: 750px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}



