/* login page - part one of animation setup */

.loginpage {
    min-height: 100vh;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.login-page .login-form .form-control-uname {
    background-image: url(../imges/civilid.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}

.login-page .login-form .form-control {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 1.25em;
    border: 1px solid var(--input-border);
    box-shadow: 0px 7px 9px var(--input-box-shadow);
    position: relative;
}
.login-page .login-form .show-password {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.login-page .login-form .form-control-password {
    background-image: url(../imges/pass.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    border-radius: 40px !important;
    color: #3f6272;
}

.text-gradint {
    background: #22499d;
    background: linear-gradient(to top right, #22499d 22%, #c2cce5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.back_home {
    color: #1a3065;
    text-decoration: none;
}
.btn-language {
    color: #1a3065;
    text-decoration: none;
    margin-inline-start: 15px;
}

.loginpage {
    background-image: url(../imges/Yasir_Main_BG.svg);
    background-repeat: repeat-y;
    background-size: contain;
}
.login-text-gradint {
    position: relative;
    z-index: 100;
}
.login-text-gradint::after {
    content: '';
    background-image: url(../imges/Yasir_Text_Highlight.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.p-help {
    color: #3d5862;
}
