/* login page - part one of animation setup */

.loginpage {
    min-height: 100vh;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.login-page .login-form .form-control-uname {
    background-image: url(../imges/civilid.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
}

.login-page .login-form .form-control {
    border-radius: 40px;
    padding: 15px 50px;
    font-size: 1.25em;
    border: 1px solid var(--input-border);
    box-shadow: 0px 7px 9px var(--input-box-shadow);
    position: relative;
}
.login-page .login-form .show-password {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.login-page .login-form .form-control-password {
    background-image: url(../imges/pass.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    border-radius: 40px !important;
    color: #3f6272;
}

.text-gradint {
    background: #22499d;
    background: linear-gradient(to top right, #22499d 22%, #c2cce5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}




a.back_home {
    color: #1a3065;
    text-decoration: none;
}
.btn-language {
    color: #1a3065;
    text-decoration: none;
    margin-inline-start: 15px;
}

.loginpage {
    background-image: url(../imges/Yasir_Main_BG.svg);
    background-repeat: repeat-y;
    background-size: contain;
}
.login-text-gradint {
    position: relative;
    z-index: 100;
}
.text-gradint::after {
    content: '';
    background-image: url(../imges/Yasir_Text_Highlight.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.p-help {
    color: #3d5862;
}

.popup-tab-btn {
    all: unset;
    background: #22499d;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    border-radius: 38px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    img {
        width: 85px;
        height: fit-content;
    }
    h6 {
        font-size: 1.5rem;
        text-align: center;
        color: #fff;
    }
    &:hover {
        transform: scale(1.02);
    }
}

.identity-check {
    padding: 3rem;
    padding-bottom: 0;
    border-radius: 38px;
    background-color: #ebeff7;
}

.google-check {
    padding: 3rem;
    border-radius: 38px;
    background-color: #ebeff7;
}

.otp-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.6rem;

    input {
        all: unset;
        position: relative;
        width: rem(120);
        height: rem(130);
        border-radius: rem(38);
        border: solid 1px rgba(0, 0, 0, 0.1);
        text-align: center;
        font-size: rem(77);
        font-weight: bold;
        background-color: #fff;
        color: #1b3065;
        caption-side: bottom;
        transition: transform 0.2s, border-bottom-color 0.2s,
            background-color 0.5s;
        cursor: default;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        &:focus {
            outline: none;
        }

        &::placeholder {
            color: #d8e4e8;
            opacity: 0.8;
        }

        &:focus::placeholder {
            opacity: 0;
        }

        &:hover {
            transform: translateY(-3px);
        }
    }
}
