.head-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 90%;
    top: 50%;
    height: 2px;
    background-color: #dde2e4;
    z-index: 80;
    left: 0;
  }

  span {
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 101;
    padding-inline-end: 30px;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .head-title--section {
    background-color: transparent;
  }
  .head-title--section-bga {
    background-color: #efeeeb;
  }
  .head-title--section-bgb {
    background-color: #ebf0f6;
  }
}

.head-title--blue {
  color: #1b3065;
}
