:root {
    --main-btn-border-color: #b39d74;
    --main-btn-background-color: #b39d74;
    --main-btn-fcolor: #b39d74;
    --main-btnstart-fcolor: #b39d74;
    --main-btnprimary-fcolor: #ffffff;
    --footer-fcolor: #3f6272;
    --primary-fcolor: #3f6272;
    --input-border: #d2dae3;
    --input-box-shadow: #6c5b3e0d;
    --input-placeholder-color: #b8c3c7;
    --textprimary-color: #3f6272;
    --textsecndary-color: #b39d74;
    --navlink-fcolor: #577c8d;
    --navlink-activ-fcolor: #b39d74;
    --headline-border-color: #cddae0;
  }